<nav class="navbar sticky-top navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">Sala de juegos</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="home"
            *ngIf="isLoggedIn"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <!-- [ngIf]="isLoggedIn" -->
          <a class="nav-link" routerLink="login" *ngIf="!isLoggedIn">Login</a>
          <!-- <a class="nav-link" [routerLink]="">Anterior</a> -->
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="register">Registrarse</a>
        </li>
        <li class="nav-item dropdown" *ngIf="isLoggedIn">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Juegos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/juego/preguntados"
                >Preguntados</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/juego/tateti">Tateti</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#">Juego propio (próximamente) </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="quiensoy">¿Quién soy?</a>
          <!-- <a class="nav-link" [routerLink]="">Anterior</a> -->
        </li>
      </ul>
      <span class="navbar__bienvenido" *ngIf="isLoggedIn"
        >Bienvenido: {{ currentUser }}</span
      >

      <button class="btn btn-danger" (click)="logout()" *ngIf="isLoggedIn">
        Logout
      </button>
    </div>
  </div>
</nav>
