<section id="encuesta" class="py-1 bg-blueGray-50">
  <div class="bg-white border rounded-lg px-8 py-6 mx-auto my-8 max-w-2xl">
    <h2 class="text-2xl font-medium mb-4">Encuesta</h2>
    <form [formGroup]="encuestaForm">
      <div class="mb-4">
        <label for="name" class="block text-gray-700 font-medium mb-2"
          >Nombre</label
        >
        <input
          [value]="currentUser"
          type="text"
          id="name"
          name="name"
          class="border border-gray-400 p-2 w-full rounded-lg focus:outline-none focus:border-blue-400 disabled:bg-slate-300"
          formControlName="nombre"
        />
      </div>
      <div class="mb-4">
        <label for="age" class="block text-gray-700 font-medium mb-2"
          >Edad</label
        >
        <input
          type="number"
          id="age"
          name="age"
          class="border border-gray-400 p-2 w-full rounded-lg focus:outline-none focus:border-blue-400"
          formControlName="edad"
        />
      </div>
      <div class="mb-4">
        <label for="gender" class="block text-gray-700 font-medium mb-2"
          >Género</label
        >
        <select
          id="gender"
          name="gender"
          class="border border-gray-400 p-2 w-full rounded-lg focus:outline-none focus:border-blue-400"
          formControlName="genero"
        >
          <option value="">Seleccionar género</option>
          <option value="hombre">Hombre</option>
          <option value="mujer">Mujer</option>
          <option value="otro">Otro</option>
        </select>
      </div>
      <div class="mb-4">
        <label for="satisfaction" class="block text-gray-700 font-medium mb-2"
          >¿Qué te parece la sala de juegos?</label
        >
        <input
          type="range"
          name="satisfaction"
          id="satisfaction"
          class="w-full accent-indigo-600"
          formControlName="satisfaction"
          min="0"
          max="10"
        />
        <div class="flex justify-between text-gray-500">
          <span id="minPrice">💩</span>
          <span id="maxPrice">😍​</span>
        </div>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 font-medium mb-2"
          >¿Cúal es tu juego favorito?</label
        >
        <div class="flex -mx-2">
          <div class="px-2 w-1/3">
            <label
              for="mayoromenor"
              class="block text-gray-700 font-medium mb-2"
            >
              <input
                type="radio"
                id="mayoromenor"
                name="juegosfav"
                value="mayoromenor"
                class="mr-2"
                formControlName="juegosfav"
              />Mayor o menor
            </label>
          </div>
          <div class="px-2 w-1/3">
            <label
              for="preguntados"
              class="block text-gray-700 font-medium mb-2"
            >
              <input
                type="radio"
                id="preguntados"
                name="juegosfav"
                value="preguntados"
                class="mr-2"
                formControlName="juegosfav"
              />Preguntados
            </label>
          </div>
          <div class="px-2 w-1/3">
            <label for="ahorcado" class="block text-gray-700 font-medium mb-2">
              <input
                type="radio"
                id="ahorcado"
                name="juegosfav"
                value="ahorcado"
                class="mr-2"
                formControlName="juegosfav"
              />Ahorcado
            </label>
          </div>
          <div class="px-2 w-1/3">
            <label for="snake" class="block text-gray-700 font-medium mb-2">
              <input
                type="radio"
                id="snake"
                name="juegosfav"
                value="snake"
                class="mr-2"
                formControlName="juegosfav"
              />Snake
            </label>
          </div>
        </div>
      </div>
      <div class="mb-4">
        <label for="message" class="block text-gray-700 font-medium mb-2"
          >¿Tenés alguna otra recomendación? Podés dejarnos un mensaje</label
        >
        <textarea
          id="message"
          name="message"
          class="border border-gray-400 p-2 w-full rounded-lg focus:outline-none focus:border-blue-400"
          rows="5"
          formControlName="msj"
        ></textarea>
      </div>
      <div>
        <button
          type="submit"
          class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 disabled:bg-gray-400"
          [disabled]="!encuestaForm.valid"
          (click)="sendEncuesta()"
        >
          Enviar
        </button>
      </div>
    </form>
  </div>
</section>
