#mesa {
  background: url("https://static.vecteezy.com/system/resources/previews/002/082/622/non_2x/poker-background-with-playing-cards-and-chips-on-green-casino-background-modern-poker-widescreen-wallpaper-vector.jpg");
  background-size: cover;
  height: 750px;
}

.myAlert {
  margin-top: 210px;
  margin-left: 800px;
  padding: 30px;
}
